In [1]:

from pyspark.sql import SparkSession
import pyspark.sql.types as st
import pyspark.sql.functions as sf

In [2]:

spark = (
    SparkSession
    .builder
    .appName("Pyspark tutorial")
    .master("local[*]")
    .getOrCreate()
)

In [3]:
data = [

(1, 'Alice', 20 ),
(2, "Bob", 25),
(3, "Charlie", 30),
(4, "David", 35)


]
columns = ["id", "name", "age"]

df = spark.createDataFrame(data, columns)

In [4]:
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 20|
|  2|    Bob| 25|
|  3|Charlie| 30|
|  4|  David| 35|
+---+-------+---+

In [5]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [6]:
schema = st.StructType(
    [
        st.StructField("id", st.IntegerType(), True),
        st.StructField("name", st.StringType(), True),
        st.StructField("age", st.IntegerType(), True)
    ]
)

df = spark.createDataFrame(data, schema)

In [7]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [8]:
df_read_csv = spark.read.csv("data/2010-summary.csv", header=True)
df_read_csv.show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|    United States|   Marshall Islands|   44|
+-----------------+-------------------+-----+
only showing top 10 rows

In [16]:
df_read_csv = (

    spark.read.format("csv")
    .option("header", "true")
    .option("delimiter" , ",")
    .load("data/2010-summary.csv")
)

df_read_csv.show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
+-----------------+-------------------+-----+
only showing top 2 rows

In [17]:
df_read_parquet = spark.read.parquet("data/yellow_tripdata_2024-09.parquet")
df_read_parquet.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:05:51|  2024-09-01 00:45:03|              1|          9.8|         1|                 N|         138|          48|           1|       47.8|10.25|    0.5|      13.3|        6.94|                  1.0|       79.79|                 2.5|       1.75|
|       1| 2024-09-01 00:59:35|  2024-09-01 01:03:43|              1|          0.5|         1|                 N|         140|         141|           1|        5.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        13.1|                 2.5|        0.0|
|       2| 2024-09-01 00:25:00|  2024-09-01 00:34:37|              2|         2.29|         1|                 N|         238|         152|           2|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.0|                 0.0|        0.0|
|       2| 2024-09-01 00:31:00|  2024-09-01 00:46:52|              1|          5.2|         1|                 N|          93|         130|           1|       24.7|  1.0|    0.5|      4.55|         0.0|                  1.0|       31.75|                 0.0|        0.0|
|       2| 2024-09-01 00:11:57|  2024-09-01 00:30:41|              2|         2.26|         1|                 N|          79|         231|           1|       17.0|  1.0|    0.5|       4.4|         0.0|                  1.0|        26.4|                 2.5|        0.0|
|       1| 2024-09-01 00:30:13|  2024-09-01 00:36:44|              1|          1.2|         1|                 N|          43|         239|           1|        8.6|  3.5|    0.5|       2.7|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       1| 2024-09-01 00:59:24|  2024-09-01 01:01:00|              1|          0.1|         5|                 N|         143|         143|           3|       0.01|  0.0|    0.0|       0.0|         0.0|                  1.0|        1.01|                 0.0|        0.0|
|       1| 2024-09-01 00:08:28|  2024-09-01 00:39:06|              4|          9.8|         1|                 N|          93|         161|           1|       44.3|  3.5|    0.5|      9.85|         0.0|                  1.0|       59.15|                 2.5|        0.0|
|       1| 2024-09-01 00:06:07|  2024-09-01 00:11:38|              1|          0.6|         1|                 N|         170|         137|           1|        6.5|  3.5|    0.5|       2.9|         0.0|                  1.0|        14.4|                 2.5|        0.0|
|       1| 2024-09-01 00:20:28|  2024-09-01 00:36:06|              1|          4.1|         1|                 N|          79|         263|           1|       19.1|  3.5|    0.5|       4.8|         0.0|                  1.0|        28.9|                 2.5|        0.0|
|       1| 2024-09-01 00:39:39|  2024-09-01 00:40:04|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       1| 2024-09-01 00:40:13|  2024-09-01 00:40:37|              1|          0.0|         1|                 N|         262|         262|           2|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       1| 2024-09-01 00:42:42|  2024-09-01 00:42:57|              1|          0.0|         1|                 N|         262|         262|           2|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       1| 2024-09-01 00:58:17|  2024-09-01 01:09:22|              1|          1.8|         1|                 N|         142|         141|           1|       12.8|  3.5|    0.5|       1.0|         0.0|                  1.0|        18.8|                 2.5|        0.0|
|       2| 2024-09-01 00:36:54|  2024-09-01 00:46:21|              1|         1.27|         1|                 N|          79|           4|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|
|       2| 2024-09-01 00:57:52|  2024-09-01 01:06:48|              1|         1.56|         1|                 N|          79|         211|           1|       10.7|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.7|                 2.5|        0.0|
|       1| 2024-09-01 00:05:33|  2024-09-01 00:09:23|              1|          0.8|         1|                 N|         249|          90|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
|       1| 2024-09-01 00:29:49|  2024-09-01 00:45:45|              2|          3.6|         1|                 N|          68|         232|           1|       20.5|  3.5|    0.5|       5.1|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       2| 2024-09-01 00:09:35|  2024-09-01 00:41:39|              1|         9.14|         1|                 N|          68|          89|           1|       42.9|  1.0|    0.5|       5.0|        6.94|                  1.0|       59.84|                 2.5|        0.0|
|       2| 2024-09-01 00:24:50|  2024-09-01 00:37:56|              1|         1.26|         1|                 N|         246|         100|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [18]:
df_read_parquet.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

#### Reading in data

In [19]:
df_read_parquet.count()

3633030

#### Parquet

In [20]:
df_read_parquet.write.parquet("data/yellow_tripdata_2024-09_copy.parquet")

### Transformation

In [46]:
taxi_df = (

    spark
    .read
    .format("parquet")
    .load("data/yellow_tripdata_2024-09.parquet")
)

In [12]:
taxi_df.show(2)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:05:51|  2024-09-01 00:45:03|              1|          9.8|         1|                 N|         138|          48|           1|       47.8|10.25|    0.5|      13.3|        6.94|                  1.0|       79.79|                 2.5|       1.75|
|       1| 2024-09-01 00:59:35|  2024-09-01 01:03:43|              1|          0.5|         1|                 N|         140|         141|           1|        5.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        13.1|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 2 rows

In [14]:
taxi_df.describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+-------------------+-----------------+------------------+---------------------+------------------+--------------------+-------------------+
|summary|          VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|     PULocationID|     DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|       tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee|
+-------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+-------------------+-----------------+------------------+---------------------+------------------+--------------------+-------------------+
|  count|           3633030|           3149299|          3633030|           3149299|           3149299|          3633030|          3633030|           3633030|           3633030|           3633030|            3633030|          3633030|           3633030|              3633030|           3633030|             3149299|            3149299|
|   mean|1.7724431122231306|1.3032055705095007| 5.74146907952812| 2.267361403283715|              NULL|163.1819519794772|162.7876585109399|1.0645070368260103|20.003841718897263|1.3332638045928606|0.47880214311470043|3.309012661607199| 0.576684981956552|   0.9600296171515246|  28.5390979045304|  2.2198141554676134|0.15697239290394466|
| stddev|0.4199700575585026|0.7649121294863445|494.0948263287312|10.638666368995478|              NULL|64.85019891860168|69.99713198734946|0.6803698263865253|19.887829631131755|1.8025235190776907|0.13335959125688257|4.218428204702532|2.2736529005745236|   0.2626378795517542|24.754769525879478|  0.8951147051660812| 0.5189316385423182|
|    min|                 1|                 0|              0.0|                 1|                 N|                1|                1|                 0|            -999.0|              -7.5|               -0.5|            -88.0|            -114.2|                 -1.0|           -1000.0|                -2.5|              -1.75|
|    max|                 6|                 9|        330397.59|                99|                 Y|              265|              265|                 4|            1862.2|             14.44|               10.5|            500.0|            476.35|                  1.0|           1886.02|                 2.5|               1.75|
+-------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+-------------------+-----------------+------------------+---------------------+------------------+--------------------+-------------------+

In [17]:
taxi_df.select("passenger_count", "VendorID").show(5)

+---------------+--------+
|passenger_count|VendorID|
+---------------+--------+
|              1|       1|
|              1|       1|
|              2|       2|
|              1|       2|
|              2|       2|
+---------------+--------+
only showing top 5 rows

In [18]:
taxi_df.select(taxi_df.passenger_count, taxi_df.VendorID).show(5)

+---------------+--------+
|passenger_count|VendorID|
+---------------+--------+
|              1|       1|
|              1|       1|
|              2|       2|
|              1|       2|
|              2|       2|
+---------------+--------+
only showing top 5 rows

In [27]:
taxi_df.select(sf.col("VendorID"), sf.col("passenger_count")).show(5)

+--------+---------------+
|VendorID|passenger_count|
+--------+---------------+
|       1|              1|
|       1|              1|
|       2|              2|
|       2|              1|
|       2|              2|
+--------+---------------+
only showing top 5 rows

##### Filtering

In [28]:
taxi_df.where(taxi_df.passenger_count > 2).show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:08:28|  2024-09-01 00:39:06|              4|          9.8|         1|                 N|          93|         161|           1|       44.3|  3.5|    0.5|      9.85|         0.0|                  1.0|       59.15|                 2.5|        0.0|
|       1| 2024-09-01 00:39:55|  2024-09-01 00:57:34|              3|          3.7|         1|                 N|         125|         142|           1|       19.8|  3.5|    0.5|      4.95|         0.0|                  1.0|       29.75|                 2.5|        0.0|
|       2| 2024-09-01 00:06:23|  2024-09-01 00:18:05|              3|         1.25|         1|                 N|         249|          79|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2024-09-01 00:13:50|  2024-09-01 00:49:43|              3|          8.1|         1|                 N|         234|         198|           2|       40.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        45.1|                 2.5|        0.0|
|       2| 2024-09-01 00:32:00|  2024-09-01 00:49:00|              4|         3.41|         1|                 N|         237|          68|           1|       19.8|  1.0|    0.5|       1.0|         0.0|                  1.0|        25.8|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [32]:
(taxi_df
 .where(
     (sf.col("passenger_count") > 2)
     &(sf.col("total_amount") > 100)
     )
     .show(5)
     )

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-09-01 00:27:46|  2024-09-01 01:20:29|              3|        27.07|         1|                 N|         132|         181|           1|      105.9|  1.0|    0.5|     21.68|         0.0|                  1.0|      131.83|                 0.0|       1.75|
|       2| 2024-09-01 00:45:34|  2024-09-01 01:36:15|              5|        21.99|         1|                 N|         249|         118|           1|       87.0|  1.0|    0.5|     22.56|       20.82|                  1.0|      135.38|                 2.5|        0.0|
|       2| 2024-09-01 00:01:17|  2024-09-01 00:01:27|              3|          0.0|         5|                 N|         170|         170|           1|      120.0|  0.0|    0.0|      24.7|         0.0|                  1.0|       148.2|                 2.5|        0.0|
|       2| 2024-09-01 00:05:20|  2024-09-01 00:47:45|              3|        30.35|         4|                 N|         132|         265|           1|      143.0|  1.0|    0.5|      20.0|        6.94|                  1.0|      174.19|                 0.0|       1.75|
|       2| 2024-09-01 00:26:50|  2024-09-01 01:06:39|              3|        21.13|         5|                 N|         132|         261|           1|       93.0|  0.0|    0.0|      19.3|         0.0|                  1.0|      117.55|                 2.5|       1.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [42]:
taxi_df.where(~(sf.col("store_and_fwd_flag") == 'N')).show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:23:40|  2024-09-01 00:43:46|              1|          3.9|         1|                 Y|         142|          42|           1|       20.5|  3.5|    0.5|      6.35|         0.0|                  1.0|       31.85|                 2.5|        0.0|
|       1| 2024-09-01 00:16:25|  2024-09-01 00:20:14|              1|          0.8|         1|                 Y|          48|         143|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
|       1| 2024-09-01 00:47:47|  2024-09-01 00:54:12|              3|          1.2|         1|                 Y|         186|          68|           2|        7.9|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|
|       1| 2024-09-01 00:17:34|  2024-09-01 00:48:23|              1|          4.4|         1|                 Y|         230|          87|           1|       28.9|  3.5|    0.5|      6.75|         0.0|                  1.0|       40.65|                 2.5|        0.0|
|       2| 2024-09-01 00:13:00|  2024-09-01 00:17:30|              1|         0.88|         1|                 Y|         249|          68|           1|        6.5|  1.0|    0.5|      3.45|         0.0|                  1.0|       14.95|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

##### withColumn

In [47]:
taxi_df = (
    taxi_df
    .withColumn("total_amount_with_all_tax"
                , sf.col("total_amount") + sf.col("congestion_surcharge")
                + sf.col("Airport_fee")
    )
)

(
    taxi_df
    .select(
        sf.col("total_amount_with_all_tax"),
        sf.col("congestion_surcharge"),
        sf.col("Airport_fee"),
        sf.col("total_amount"),
    ).show(5)
)

+-------------------------+--------------------+-----------+------------+
|total_amount_with_all_tax|congestion_surcharge|Airport_fee|total_amount|
+-------------------------+--------------------+-----------+------------+
|                    84.04|                 2.5|       1.75|       79.79|
|                     15.6|                 2.5|        0.0|        13.1|
|                     16.0|                 0.0|        0.0|        16.0|
|                    31.75|                 0.0|        0.0|       31.75|
|                     28.9|                 2.5|        0.0|        26.4|
+-------------------------+--------------------+-----------+------------+
only showing top 5 rows

##### withColumnRenamed

In [48]:
taxi_df = taxi_df.withColumnRenamed("total_amount_with_all_tax", "total_amount_with_taxes")

In [49]:
taxi_df.show(3)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|total_amount_with_taxes|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------------------+
|       1| 2024-09-01 00:05:51|  2024-09-01 00:45:03|              1|          9.8|         1|                 N|         138|          48|           1|       47.8|10.25|    0.5|      13.3|        6.94|                  1.0|       79.79|                 2.5|       1.75|                  84.04|
|       1| 2024-09-01 00:59:35|  2024-09-01 01:03:43|              1|          0.5|         1|                 N|         140|         141|           1|        5.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        13.1|                 2.5|        0.0|                   15.6|
|       2| 2024-09-01 00:25:00|  2024-09-01 00:34:37|              2|         2.29|         1|                 N|         238|         152|           2|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.0|                 0.0|        0.0|                   16.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------------------+
only showing top 3 rows

##### Drop

In [50]:
taxi_df = taxi_df.drop(sf.col("total_amount_with_taxes"))
taxi_df.show(3)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:05:51|  2024-09-01 00:45:03|              1|          9.8|         1|                 N|         138|          48|           1|       47.8|10.25|    0.5|      13.3|        6.94|                  1.0|       79.79|                 2.5|       1.75|
|       1| 2024-09-01 00:59:35|  2024-09-01 01:03:43|              1|          0.5|         1|                 N|         140|         141|           1|        5.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        13.1|                 2.5|        0.0|
|       2| 2024-09-01 00:25:00|  2024-09-01 00:34:37|              2|         2.29|         1|                 N|         238|         152|           2|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.0|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 3 rows

##### Group By (order by)

In [55]:
(
    taxi_df
    .groupBy(sf.col("PULocationID"))
    .count()
    .sort(sf.col("count"), ascending = False)
    .show(10)
)

+------------+------+
|PULocationID| count|
+------------+------+
|         132|188147|
|         237|166033|
|         161|153988|
|         236|149284|
|         186|120393|
|         162|117163|
|         230|113531|
|         138|111112|
|         142|107537|
|          68|104585|
+------------+------+
only showing top 10 rows

In [60]:
(
    taxi_df
    .groupBy(sf.col("payment_type"))
    .agg(
        sf.sum("total_amount").alias("total_amount"),
        sf.avg("total_amount").alias("avg_amount"),
    )
    .sort(sf.col("total_amount"), ascending=False)
    # .withColumn("total_amount", sf.format_number(sf.col("total_amount"), 2))
    # .withColumn("avg_amount", sf.format_number(sf.col("avg_amount"), 2))
    .withColumn("total_amount", sf.round(sf.col("total_amount"), 2))
    .withColumn("avg_amount", sf.round(sf.col("avg_amount"), 2))
    .show(5)
)

+------------+-------------+----------+
|payment_type| total_amount|avg_amount|
+------------+-------------+----------+
|           1|8.109027601E7|     31.13|
|           0|1.157718759E7|     23.93|
|           2|1.068214365E7|     23.99|
|           3|    198527.68|      7.84|
|           4|    135263.93|      1.83|
+------------+-------------+----------+

In [63]:
# DataFrame 1: employees
employees_data = [
    (1, "Alice", 1),
    (2, "Bob", 2),
    (3, "Charlie", 4),
    (4, "David", 5),
    (5, "Eve", 5),
    (6, "Frank", 3),
    (7, "George", 7),
    (8, "Hannah", 9),
    (9, "Ivan", 5),
    (10, "John", 4),
]
employess_columns = ["employee_id", "name", "department_id"]
employees_df = spark.createDataFrame(employees_data, employess_columns)

# DataFrame 2: departments
departments_data = [
    (1, "IT"),
    (2, "HR"),
    (3, "Sales"),
    (4, "Finance"),
    (5, "Marketing"),
    (6, "Legal"),
    (7, "Operations"),
]
departments_columns = ["department_id", "department_name"]
departments_df = spark.createDataFrame(departments_data, departments_columns)

print(employees_df.show())
print(departments_df.show())

+-----------+-------+-------------+
|employee_id|   name|department_id|
+-----------+-------+-------------+
|          1|  Alice|            1|
|          2|    Bob|            2|
|          3|Charlie|            4|
|          4|  David|            5|
|          5|    Eve|            5|
|          6|  Frank|            3|
|          7| George|            7|
|          8| Hannah|            9|
|          9|   Ivan|            5|
|         10|   John|            4|
+-----------+-------+-------------+

None
+-------------+---------------+
|department_id|department_name|
+-------------+---------------+
|            1|             IT|
|            2|             HR|
|            3|          Sales|
|            4|        Finance|
|            5|      Marketing|
|            6|          Legal|
|            7|     Operations|
+-------------+---------------+

None

In [64]:
inner_join_df = (
    employees_df
    .join(departments_df, "department_id")
    .sort(sf.col("department_id"))

)

inner_join_df.show()

+-------------+-----------+-------+---------------+
|department_id|employee_id|   name|department_name|
+-------------+-----------+-------+---------------+
|            1|          1|  Alice|             IT|
|            2|          2|    Bob|             HR|
|            3|          6|  Frank|          Sales|
|            4|          3|Charlie|        Finance|
|            4|         10|   John|        Finance|
|            5|          4|  David|      Marketing|
|            5|          5|    Eve|      Marketing|
|            5|          9|   Ivan|      Marketing|
|            7|          7| George|     Operations|
+-------------+-----------+-------+---------------+

In [65]:
left_join_df = (
    employees_df
    .join(departments_df, "department_id", how="left")
    .sort(sf.col("department_id"))

)

left_join_df.show()

+-------------+-----------+-------+---------------+
|department_id|employee_id|   name|department_name|
+-------------+-----------+-------+---------------+
|            1|          1|  Alice|             IT|
|            2|          2|    Bob|             HR|
|            3|          6|  Frank|          Sales|
|            4|          3|Charlie|        Finance|
|            4|         10|   John|        Finance|
|            5|          4|  David|      Marketing|
|            5|          5|    Eve|      Marketing|
|            5|          9|   Ivan|      Marketing|
|            7|          7| George|     Operations|
|            9|          8| Hannah|           NULL|
+-------------+-----------+-------+---------------+

In [66]:
outer_join_df = (
    employees_df
    .join(departments_df, "department_id", how="outer")
    .sort(sf.col("department_id"))

)

outer_join_df.show()

+-------------+-----------+-------+---------------+
|department_id|employee_id|   name|department_name|
+-------------+-----------+-------+---------------+
|            1|          1|  Alice|             IT|
|            2|          2|    Bob|             HR|
|            3|          6|  Frank|          Sales|
|            4|          3|Charlie|        Finance|
|            4|         10|   John|        Finance|
|            5|          4|  David|      Marketing|
|            5|          5|    Eve|      Marketing|
|            5|          9|   Ivan|      Marketing|
|            6|       NULL|   NULL|          Legal|
|            7|          7| George|     Operations|
|            9|          8| Hannah|           NULL|
+-------------+-----------+-------+---------------+

##### SparkSql

In [69]:
taxi_df = (
    spark
    .read
    .format("parquet")
    .load("data/yellow_tripdata_2024-09.parquet")
)

In [70]:
taxi_df.createOrReplaceTempView("taxi_temp_view")

In [71]:
spark.sql("select * from taxi_temp_view limit 10").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:05:51|  2024-09-01 00:45:03|              1|          9.8|         1|                 N|         138|          48|           1|       47.8|10.25|    0.5|      13.3|        6.94|                  1.0|       79.79|                 2.5|       1.75|
|       1| 2024-09-01 00:59:35|  2024-09-01 01:03:43|              1|          0.5|         1|                 N|         140|         141|           1|        5.1|  3.5|    0.5|       3.0|         0.0|                  1.0|        13.1|                 2.5|        0.0|
|       2| 2024-09-01 00:25:00|  2024-09-01 00:34:37|              2|         2.29|         1|                 N|         238|         152|           2|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|        16.0|                 0.0|        0.0|
|       2| 2024-09-01 00:31:00|  2024-09-01 00:46:52|              1|          5.2|         1|                 N|          93|         130|           1|       24.7|  1.0|    0.5|      4.55|         0.0|                  1.0|       31.75|                 0.0|        0.0|
|       2| 2024-09-01 00:11:57|  2024-09-01 00:30:41|              2|         2.26|         1|                 N|          79|         231|           1|       17.0|  1.0|    0.5|       4.4|         0.0|                  1.0|        26.4|                 2.5|        0.0|
|       1| 2024-09-01 00:30:13|  2024-09-01 00:36:44|              1|          1.2|         1|                 N|          43|         239|           1|        8.6|  3.5|    0.5|       2.7|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       1| 2024-09-01 00:59:24|  2024-09-01 01:01:00|              1|          0.1|         5|                 N|         143|         143|           3|       0.01|  0.0|    0.0|       0.0|         0.0|                  1.0|        1.01|                 0.0|        0.0|
|       1| 2024-09-01 00:08:28|  2024-09-01 00:39:06|              4|          9.8|         1|                 N|          93|         161|           1|       44.3|  3.5|    0.5|      9.85|         0.0|                  1.0|       59.15|                 2.5|        0.0|
|       1| 2024-09-01 00:06:07|  2024-09-01 00:11:38|              1|          0.6|         1|                 N|         170|         137|           1|        6.5|  3.5|    0.5|       2.9|         0.0|                  1.0|        14.4|                 2.5|        0.0|
|       1| 2024-09-01 00:20:28|  2024-09-01 00:36:06|              1|          4.1|         1|                 N|          79|         263|           1|       19.1|  3.5|    0.5|       4.8|         0.0|                  1.0|        28.9|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [72]:
spark.sql(
    """
    SELECT
        *
    FROM
        taxi_temp_view
    WHERE
        trip_distance > 10
    Limit 10
    """
).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-09-01 00:57:30|  2024-09-01 01:40:20|              2|         14.5|         1|                 N|         132|          91|           1|       64.6| 2.75|    0.5|     13.77|         0.0|                  1.0|       82.62|                 0.0|       1.75|
|       2| 2024-09-01 00:19:05|  2024-09-01 00:37:21|              1|        10.37|         1|                 N|         138|         216|           1|       40.1|  6.0|    0.5|       7.4|         0.0|                  1.0|       56.75|                 0.0|       1.75|
|       2| 2024-09-01 00:28:49|  2024-09-01 01:18:09|              1|        14.69|         1|                 N|          87|         223|           1|       66.0|  1.0|    0.5|      14.2|         0.0|                  1.0|        85.2|                 2.5|        0.0|
|       2| 2024-09-01 00:33:49|  2024-09-01 01:04:30|              2|        16.86|         2|                 N|         132|          48|           1|       70.0|  0.0|    0.5|     16.19|        6.94|                  1.0|       98.88|                 2.5|       1.75|
|       2| 2024-09-01 00:37:56|  2024-09-01 01:07:34|              1|        20.69|         2|                 N|         132|         140|           1|       70.0|  0.0|    0.5|     16.19|        6.94|                  1.0|       98.88|                 2.5|       1.75|
|       1| 2024-09-01 00:19:39|  2024-09-01 00:52:04|              1|         17.4|         2|                 N|         132|         230|           1|       70.0| 4.25|    0.5|      10.0|        6.94|                  1.0|       92.69|                 2.5|       1.75|
|       2| 2024-09-01 00:47:02|  2024-09-01 01:13:49|              1|        10.17|         1|                 N|         234|         257|           1|       41.5|  1.0|    0.5|      6.08|        6.94|                  1.0|       59.52|                 2.5|        0.0|
|       2| 2024-09-01 00:32:58|  2024-09-01 01:04:07|              2|        18.05|         2|                 N|         132|          68|           1|       70.0|  0.0|    0.5|     16.19|        6.94|                  1.0|       98.88|                 2.5|       1.75|
|       2| 2024-09-01 00:04:21|  2024-09-01 00:47:54|              4|        12.84|         1|                 N|         132|         189|           1|       56.9|  1.0|    0.5|     11.88|         0.0|                  1.0|       73.03|                 0.0|       1.75|
|       2| 2024-09-01 00:37:45|  2024-09-01 01:13:22|              1|        19.08|         1|                 N|         230|         265|           1|       73.0|  1.0|    0.5|     16.99|        6.94|                  1.0|      101.93|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [73]:
avg_amount_by_payment_type = spark.sql(
    """
    SELECT
        payment_type,
        avg(total_amount) as avg_amount
    FROM
        taxi_temp_view
    GROUP BY
        payment_type
    ORDER BY
        avg_amount DESC
    """
)

avg_amount_by_payment_type.show(10)

+------------+------------------+
|payment_type|        avg_amount|
+------------+------------------+
|           1|31.132636716912728|
|           2|23.992416616129827|
|           0|23.933110737169443|
|           3| 7.835484864032835|
|           4|1.8263854120252212|
+------------+------------------+

##### Caching

In [74]:
import time

In [77]:
data = [(i, i * 2) for i in range(1, 1000000)]
df = spark.createDataFrame(data, ["number", "doubled"])
df.show(5)

start_time = time.time()

df_filtered = df.filter(df["number"] % 2 == 0)
print(df_filtered.count())
print(df_filtered.count())

end_time = time.time()
print("Execution time: ", end_time - start_time)

+------+-------+
|number|doubled|
+------+-------+
|     1|      2|
|     2|      4|
|     3|      6|
|     4|      8|
|     5|     10|
+------+-------+
only showing top 5 rows

499999
499999
Execution time:  15.572580575942993

In [78]:
data = [(i, i * 2) for i in range(1, 1000000)]
df_2 = spark.createDataFrame(data, ["number", "doubled"])
df_2.show(5)

start_time = time.time()

df_filtered = df_2.filter(df_2["number"] % 2 == 0).cache()
print(df_filtered.count())
print(df_filtered.count())

end_time = time.time()
print("Execution time: ", end_time - start_time)

+------+-------+
|number|doubled|
+------+-------+
|     1|      2|
|     2|      4|
|     3|      6|
|     4|      8|
|     5|     10|
+------+-------+
only showing top 5 rows

499999
499999
Execution time:  7.967309951782227